.coustom_img6{

    width: 25em;

}
h2{
    font-size: 8em !important;
}


/*responsive tablette */

@media screen and (min-width: 768px) and (max-width: 1024px) 
{ 
    h2{
            font-size: 4em !important;
        }

    .coustom_img6{

            width: 20em;

        }

  }

/*responisve telephone */ 
@media screen and (max-width: 767px)
{
        h2{
            font-size: 4em !important;
        }

}
